doctype html
head
  link(rel="stylesheet", href="/css/style.css")
body
  img(class="left", src="/images/smile.png")
  img(class="right", src="/images/smile.png")
  center
    img(src="/images/logo.gif")
    p.msg For daily jokes and puns send "LOL" to 646-762-6166

